@charset "utf-8";
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(https://fonts.gstatic.com/s/notoserif/v9/ga6Kaw1J5X9T9RW6j9bNfFIWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(https://fonts.gstatic.com/s/notoserif/v9/ga6Vaw1J5X9T9RW6j9bNfFIu0RWedA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v9/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v10/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf) format('truetype');
}
button {
  outline: none;
}
.btn {
  border-radius: 80px;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.btn-info {
  background: transparent !important;
  border: solid 1px #0063e5;
  color: #0063e5;
}
.btn-info:hover {
  color: #01224d;
  border: solid 1px #01224d;
}
.btn-primary {
  position: relative;
  border: none;
  color: #ffffff;
  background: #01224d !important;
}
.btn-primary:hover {
  color: #ffffff !important;
  background: #011734 !important;
}
.btn-primary:after {
  position: relative;
  margin-left: auto;
  padding-left: 12px;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  color: #e50019;
}
.btn-secondary {
  display: block;
  padding: 11px 14px;
  margin: 0px;
  border: #0063e5;
  color: #0063e5;
  background: #ffffff !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Rubik", "Segoe UI", "Helvetica Neue";
  background: #ffffff url("../images/bodybg.svg") 100% 10% no-repeat;
  background-size: contain;
  overflow-x: hidden;
  width: 100%;
  color: #01224d;
}
a:hover,
a:focus {
  color: #197cff !important;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
  /*background-attachment: fixed;*/
  z-index: 777;
}
header .header-section {
  width: 100%;
}
header .header-section .navbar {
  box-shadow: none;
}
header .header-section.aos-animate {
  z-index: 8888;
  height: 80px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 9px 18px -5px rgba(0, 0, 0, 0.75);
  top: 0px;
  display: flex;
  align-items: center;
}
header .header-section.aos-animate .navbar {
  padding: 0;
}
header .header-section.aos-animate .navbar-brand {
  padding: 0;
}
header .navbar-nav {
  align-items: center;
}
header .navbar-nav .btn {
  font-size: 14px;
  top: -4px;
}
header .navbar-brand img {
  max-width: 280px;
}
header .header-section a {
  text-transform: uppercase;
  color: #01224d;
  font-weight: bold;
  font-size: 13px;
  margin-left: 12px;
}
header .header-section a:hover {
  color: #0063e5;
}
h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
  color: #01224d;
}
h4,
h5 {
  font-family: "Rubik", sans-serif;
}
h2 {
  font-size: 2em;
  font-weight: 600;
  color: #01224d;
}
h3 {
  font-weight: bold;
  font-size: 20px;
}
h4 {
  font-weight: 500;
  font-size: 18px;
}
h5 {
  text-transform: uppercase;
  font-size: 20px;
}
.uppercase {
  text-transform: uppercase;
}
.d-column {
  flex-direction: column;
}
.cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 20;
}
.cities h3 {
  flex: 0 0 100%;
}
.w-100 {
  width: 100%;
}
#msg {
  position: absolute;
  z-index: 899;
}
.carousel {
  flex-direction: column;
}
.carousel .carousel-item {
  justify-content: center;
  align-items: center;
}
.carousel .carousel-item.active,
.carousel .carousel-item-next,
.carousel .carousel-item-prev {
  display: flex;
}
.carousel h4 {
  font-weight: normal;
  font-size: 24px;
}
.carousel .carouselcontrols {
  margin-top: 20px;
  position: relative;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
}
.carousel .carouselcontrols a {
  background: #ffffff;
  color: #0063e5;
  position: relative!important;
  margin: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  opacity: 1;
}
.carousel .carouselcontrols a span {
  color: #0063e5;
}
.progress {
  background: rgba(18, 14, 38, 0.5);
  min-height: 200px;
  position: absolute;
  bottom: 0px;
}
.progress.aos-animate .circular-chart.pri-one .circle {
  animation: progress 1.3s ease-out forwards;
}
.progress span {
  color: #f4f7fb;
}
.progress .single-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}
.progress .circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  height: 150px;
}
.progress #top-sand #top-clip-path rect,
.progress #bottom-sand path,
.progress #bottom-sand g,
.progress svg {
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.progress .circle-bg {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.8;
}
.progress .circular-chart.pri-one .circle {
  stroke: #0063e5;
}
.progress .circle {
  fill: none;
  stroke-width: 1.8;
  stroke-linecap: round;
  animation: none;
}
.progress .circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.progress .percentage {
  fill: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.avatar {
  width: 45px;
  height: 45px;
  font-size: 24px;
  color: #00357b;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
footer {
  background: #120e26;
}
footer .col-md-3 {
  flex-wrap: wrap;
}
footer .logolink {
  flex: 1 0 100%;
  width: 100%;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer-menus ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #footer-menus ul li {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
footer #footer-menus a {
  color: #ffffff;
  /* font-size: 6.6vmin;*/
}
footer #footer-menus a:hover {
  color: #9b9ab1;
}
footer #footer-menus h4 {
  text-transform: none;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2em;
}
footer h4 {
  color: #ffffff;
  font-size: 2vmin;
}
footer .copyright {
  font-size: 14px;
  color: #f4f7fb;
}
footer .terms {
  color: #f4f7fb;
  font-size: 12px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
footer .terms a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #f4f7fb;
}
footer .terms a:hover {
  color: #01224d;
}
.waves-input-wrapper {
  position: static;
  display: inline;
}
.avatar {
  position: relative;
}
.avatar img {
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  width: 60px;
  height: 60px;
}
.navbar-toggler {
  color: #00357b;
}
.navbar .navbar-toggler {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  section {
    display: flex;
    align-items: center;
    height: auto;
    min-height: 10vh;
    background-size: contain;
    background-attachment: fixed;
  }
  header {
    background-position: 50% 0;
  }
}
main {
  position: relative;
  overflow: visible;
}
#innerPage {
  background: #ffffff url('../images/mainbg.jpg') 0 0 no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
#innerPage header {
  background: none;
  min-height: 50px;
  height: auto;
}
#innerPage header:before {
  display: none;
}
#innerPage main {
  margin-top: 0;
  background: none;
}
#innerPage footer {
  width: 100%;
  align-self: flex-end;
}
#innerPage main {
  flex-grow: 1;
}
#innerPage header,
#innerPage main,
#innerPage footer {
  flex-shrink: 0;
}
#innerPage header {
  background: none;
  min-height: 50px;
  height: auto;
}
#innerPage header:before {
  display: none;
}
#innerPage main {
  margin-top: 0;
  background: none;
}
#innerPage footer {
  width: 100%;
  align-self: flex-end;
}
#innerPage main {
  flex-grow: 1;
}
#innerPage header,
#innerPage main,
#innerPage footer {
  flex-shrink: 0;
}
.card {
  background-color: #ffffff;
  min-height: 100px !important;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 0.275rem 0 rgba(0, 0, 0, 0.25);
}
.card h2 {
  font-size: 24px;
  color: #120e26;
}
.card.darkbg {
  background: #0063e5;
}
.card.darkbg .text {
  color: #ffffff;
}
.card .text {
  color: #120e26;
  font-size: 14px;
  font-weight: 300;
}
#accordion .card {
  min-height: 60px !important;
  margin-bottom: 10px;
}
.card-header {
  border: none;
  background: none;
  color: #120e26;
}
.card-header h5 {
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  width: 90%;
}
.card-body {
  color: #120e26;
}
.btn-collapse {
  color: #0063e5;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  background: none;
}
table h4 {
  font-weight: bold;
}
.navbar {
  padding: 0px;
}
.navbar-brand {
  margin: 0px;
  padding-left: 0px !Important;
}
.whitetitle {
  color: #ffffff !important;
  text-align: center;
}
/* Centralvetclinic*/
div.scrolling-limit {
  width: 100%;
  min-height: 44px;
  top: 0;
  background-color: #f4f7fb;
  overflow: hidden;
  white-space: nowrap;
  z-index: 6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
div.scrolling {
  position: relative;
  -webkit-animation: scroll 40s infinite linear;
  -moz-animation: scroll 40s infinite linear;
  -o-animation: scroll 40s infinite linear;
  animation: scroll 40s infinite linear;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
div.scrolling p {
  color: #01224d;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding: 0.5em;
  font-weight: normal;
}
div.scrolling p:before {
  content: "";
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background: #e50019;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
@keyframes scroll {
  0% {
    left: 80%;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes scroll {
  0% {
    left: 80%;
  }
  100% {
    left: -100%;
  }
}
.infobar {
  background: #00357b;
  min-height: 44px;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.infobar .container {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.infobar .col:nth-child(3) {
  padding-right: 0;
  align-self: stretch;
}
.infobar .row {
  align-items: center;
}
.infobar nav {
  box-shadow: none;
}
.infobar nav ul {
  margin-left: auto;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.infobar nav ul li {
  position: relative;
  display: inline-flex;
  padding-left: 0.5em;
}
.infobar nav ul li:after {
  display: none !important;
}
.infobar nav ul li a {
  text-transform: none;
  color: #ffffff;
}
.infobar nav ul li a:hover {
  color: #0063e5;
}
.infobar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infobar ul li {
  display: inline-flex;
  padding-left: 10px;
}
.infobar ul li h4 {
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 0;
  white-space: pre;
  line-height: 1em !important;
  margin-top: 2px;
}
.infobar ul li:first-child::after {
  /*      content: "" !important;*/
}
.infobar ul li:after {
  content: "|";
  display: inline-flex;
  color: #ffffff;
  padding-left: 10px;
}
#online-payment {
  background: #032b60;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: -4px 3px 10px -3px rgba(0, 0, 0, 0.74);
  height: 100%;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
#online-payment a {
  color: #ffffff;
}
#online-payment a:hover {
  color: #e50019;
}
#online-payment a:focus {
  color: #e50019;
}
.top-carousel {
  box-shadow: 0px 14px 16px -13px rgba(0, 0, 0, 0.57);
  background: white;
  min-height: 80px;
  width: 100%;
}
.header-slider {
  position: relative;
  z-index: 3;
}
.header-slider .imageholder {
  max-height: 80vh;
  position: relative;
}
.header-slider .imageholder:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#01224d 0%, rgba(0, 0, 0, 0) 50%);
  opacity: 0.5;
  z-index: 4;
}
body.noscroll {
  overflow: hidden;
  height: 100vh;
}
form#howCanWeHelpYou {
  transition: ease 1s;
  background: white;
  height: 50px;
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
  color: #01224d;
  position: absolute;
  top: 50px;
  z-index: 44;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  overflow: hidden;
  z-index: 800;
}
form#howCanWeHelpYou.sticky {
  transition: ease 1s;
  position: fixed;
  display: flex !important;
  bottom: auto;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  max-width: 945px;
  overflow: hidden;
  z-index: 800000;
  top: 30px;
}
form#howCanWeHelpYou input[type=text] {
  width: 100%;
  height: 60px;
  padding-right: 100px;
  padding-left: 80px;
  border: solid 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #092c74;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form#howCanWeHelpYou input[type=text]:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
form#howCanWeHelpYou button {
  margin-right: 20px;
  outline: none;
  border: none;
  background: none;
}
.popular-search {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  overflow: hidden;
}
.popular-search h4 {
  font-size: 1.2em;
}
.searchWrapper .close {
  display: none;
  position: absolute;
  top: 45px;
  right: 60px;
  /* background: red; */
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.searchWrapper .close.open {
  display: block;
}
.searchWrapper {
  display: none;
  transition: ease 0.4s;
  width: 100%;
  height: 100%;
  background: rgba(1, 34, 76, 0.98);
  position: static;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.searchWrapper h2 {
  color: #ffffff;
}
.searchWrapper.open {
  display: block;
  transition: ease 0.4s;
  z-index: 11;
}
.searchWrapper.animate {
  position: fixed;
  transition: ease 0.25s;
  opacity: 0.97;
}
form#howCanWeHelpYou .placeholder.disappear {
  display: none;
  transition: ease 0.1s;
  top: 8px;
  font-size: 14px;
  line-height: 14px;
}
.appear {
  display: flex !important;
}
form#howCanWeHelpYou .placeholder {
  transition: ease 0.1s;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  line-height: 60px;
  color: #092c74;
  width: 100%;
  background: transparent;
  border-radius: 30px;
  text-indent: 30px;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  cursor: text;
}
#languages {
  background: rgba(1, 34, 76, 0.5);
  position: fixed;
  border-radius: 6px 0 0 6px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
  top: 250px;
  right: -150px;
  height: 50px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
#languages ul li:first-child {
  padding-left: 10px;
  padding-right: 5px;
  width: 50px;
  height: 50px;
}
#languages ul li:first-child a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
#languages.closed {
  transition: all 0.2s ease-in-out;
  background: #01224d;
  right: -133px;
}
#languages.opened {
  transition: all 0.2s ease-in-out;
  background: #01224d;
  right: 0px;
}
#languages ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
#languages ul li {
  display: inline-flex;
  align-items: center;
  padding-left: 0.5em;
}
#languages ul li:after {
  display: inline-flex;
  content: "|";
  padding-left: 1em;
  font-size: 8px;
}
#languages ul li:first-child {
  margin-left: 0.5em;
}
#languages ul li:last-child {
  margin-right: 0.5em;
}
#languages ul li:first-child::after {
  content: "";
}
#languages ul li:last-child::after {
  content: "";
}
#languages ul li a {
  font-size: 12px;
  color: #ffffff;
}
#facebook {
  z-index: 11;
  width: 50px;
  height: 50px;
  border-radius: 6px 0 0 6px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
  top: 320px;
  right: 0px;
  background: #00357b;
  position: fixed;
}
#facebook a {
  color: #ffffff;
}
main {
  z-index: 9;
}
.homepage_important {
  background: rgba(0, 99, 229, 0.8);
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: 4em;
  z-index: 30;
  width: 30em;
}
.homepage_important .btn {
  display: inline-flex;
  padding: 12px 34px;
}
.homepage_important h3 {
  color: #ffffff;
}
#first .carousel-inner {
  z-index: 3;
}
.min-vh-50 {
  min-height: 50vh !important;
}
#badges {
  position: absolute;
  top: 50px;
  left: 12%;
  z-index: 6;
  width: 100px;
}
#badges img {
  max-width: 100px;
  height: auto;
}
.d-column {
  flex-direction: column;
}
.carousel-indicators .active {
  background-color: #0063e5;
}
#basicinfo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#basicinfo h3 {
  padding-top: 2em;
}
#basicinfo li a {
  position: relative;
  display: flex;
  font-size: 1.2em;
  line-height: 1.6em;
}
#basicinfo li a:hover {
  color: #e50019 !important;
}
#basicinfo li a:hover:after {
  margin-left: 2em;
}
#basicinfo li a:after {
  transition: all 0.2s;
  margin-left: 1em;
  top: -2px;
  color: #e50019;
  font-size: 12px;
  position: relative;
  align-self: flex-end;
  display: inline-flex;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
}
#basicinfo figure {
  width: 100%;
  height: 260px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
#basicinfo figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#basicinfo figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
img {
  width: 100%;
  height: auto;
}
/*Carousel Services*/
.container-fluid {
  width: 90%;
}
#services .carousel .carousel-control-next-icon {
  width: 40px;
  height: 40px;
}
#services .carousel .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}
#services .carousel-control-prev {
  left: -5%;
}
#services .carousel-control-next {
  right: -5%;
}
#carousel-services {
  /* MD */
  /* LG */
}
#carousel-services .card-title a {
  color: #01224d;
}
#carousel-services .card-title a:hover {
  color: #e50019 !important;
}
#carousel-services .carousel-item {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
#carousel-services .carousel-item .card {
  min-height: 85vh !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  #carousel-services {
    /* Show 4th slide on md if col-md-4*/
  }
  #carousel-services .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #carousel-services {
    /* Show 3rd slide on sm if col-sm-6*/
  }
  #carousel-services .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  #carousel-services {
    /* show 2 items */
    /* left or forward direction */
    /* farthest right hidden item must be also positioned for animations */
    /* right or prev direction */
  }
  #carousel-services .carousel-item {
    margin-right: 0;
  }
  #carousel-services .carousel-inner .active + .carousel-item {
    display: block;
  }
  #carousel-services .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #carousel-services .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  #carousel-services .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  #carousel-services .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #carousel-services .carousel-item-next.carousel-item-left + .carousel-item,
  #carousel-services .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-services .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  #carousel-services .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  #carousel-services .carousel-item-prev.carousel-item-right + .carousel-item,
  #carousel-services .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  #carousel-services {
    /* show 3rd of 3 item slide */
    /* left or forward direction */
    /* right or prev direction */
  }
  #carousel-services .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  #carousel-services .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  #carousel-services .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  #carousel-services .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-services .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
@media (min-width: 991px) {
  #carousel-services {
    /* show 4th item */
    /* Show 5th slide on lg if col-lg-3 */
    /* left or forward direction */
    /* right or prev direction //t - previous slide direction last item animation fix */
  }
  #carousel-services .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  #carousel-services .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  #carousel-services .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  #carousel-services .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-services .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
#carousel-services .carousel-control-next,
#carousel-services .carousel-control-prev {
  background: #0063e5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 50%;
}
#carousel-services .carousel .carousel-control-next-icon,
#carousel-services .carousel .carousel-control-prev-icon {
  width: 30px !important;
  height: 30px !important;
}
#carousel-popular {
  /* MD */
  /* LG */
}
#carousel-popular .card-title a {
  color: #01224d;
}
#carousel-popular .card-title a:hover {
  color: #e50019 !important;
}
#carousel-popular .carousel-item {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  #carousel-popular {
    /* Show 4th slide on md if col-md-4*/
  }
  #carousel-popular .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #carousel-popular {
    /* Show 3rd slide on sm if col-sm-6*/
  }
  #carousel-popular .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  #carousel-popular {
    /* show 2 items */
    /* left or forward direction */
    /* farthest right hidden item must be also positioned for animations */
    /* right or prev direction */
  }
  #carousel-popular .carousel-item {
    margin-right: 0;
  }
  #carousel-popular .carousel-inner .active + .carousel-item {
    display: block;
  }
  #carousel-popular .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #carousel-popular .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  #carousel-popular .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  #carousel-popular .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #carousel-popular .carousel-item-next.carousel-item-left + .carousel-item,
  #carousel-popular .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-popular .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  #carousel-popular .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  #carousel-popular .carousel-item-prev.carousel-item-right + .carousel-item,
  #carousel-popular .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  #carousel-popular {
    /* show 3rd of 3 item slide */
    /* left or forward direction */
    /* right or prev direction */
  }
  #carousel-popular .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  #carousel-popular .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  #carousel-popular .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  #carousel-popular .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-popular .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
@media (min-width: 991px) {
  #carousel-popular {
    /* show 4th item */
    /* Show 5th slide on lg if col-lg-3 */
    /* left or forward direction */
    /* right or prev direction //t - previous slide direction last item animation fix */
  }
  #carousel-popular .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  #carousel-popular .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  #carousel-popular .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  #carousel-popular .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  #carousel-popular .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
  }
}
#carousel-popular .carousel-control-next,
#carousel-popular .carousel-control-prev {
  background: #0063e5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 50%;
}
#carousel-popular .carousel .carousel-control-next-icon,
#carousel-popular .carousel .carousel-control-prev-icon {
  width: 30px !important;
  height: 30px !important;
}
#statistics {
  background: #f4f7fb;
}
#statistics .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#statistics .imageholder {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: solid 1em #ffffff;
  overflow: hidden;
}
#statistics .imageholder img {
  object-fit: cover;
  object-position: center;
}
#statistics .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#statistics .statistic {
  font-size: 3em;
  color: #e50019;
  text-align: center;
  display: block;
  font-weight: bold;
}
#statistics .explanation {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
#philosophy {
  background: url("../images/philosophybg.svg") 0 0 no-repeat;
  background-size: contain;
}
#philosophy .col-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#philosophy .col-4 h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2em;
}
#philosophy .col-4 .imageholder {
  max-width: 150px;
  height: auto;
  margin-bottom: 2em;
}
#philosophy .col-4 .imageholder img {
  max-height: 100px;
}
h3 a {
  color: #00357b !important;
}
#services {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
figure.over img {
  -webkit-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
  transition: 0.3s ease-in-out;
}
#tour .column .box {
  position: relative;
}
#tour .column .box figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
#tour .column .box figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#tour .column .box figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
#tour .column .box figure:after {
  z-index: 68;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#tour .column .box .imageholder {
  max-width: 80px;
  height: auto;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#tour .column .box .imageholder img {
  max-height: 70px;
}
#tour .column .box .text {
  position: absolute;
  z-index: 69;
  display: flex;
  width: 100%;
  top: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#tour .column .box .text span {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff !important;
}
#tour .column .box .text a {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  color: #ffffff !important;
  text-align: center;
}
#tour .column .box .text a:hover {
  color: #ff1932 !important;
}
#tour .column:nth-child(1) figure::after {
  background: linear-gradient(45deg, rgba(32, 49, 84, 0.85) 0%, rgba(0, 41, 95, 0.65) 45%);
}
#tour .column:nth-child(2) figure::after {
  background: linear-gradient(45deg, rgba(0, 99, 229, 0.45) 0%, rgba(0, 99, 229, 0.45) 45%);
}
#tour .column:nth-child(3) figure::after {
  background: linear-gradient(45deg, rgba(85, 175, 130, 0.8) 0%, rgba(50, 182, 183, 0.65) 45%);
}
#tour .column:nth-child(4) figure::after {
  background: linear-gradient(45deg, rgba(50, 182, 183, 0.8) 0%, rgba(0, 52, 141, 0.65) 45%);
}
@keyframes action {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(10px);
  }
}
.tip {
  position: relative;
  background-color: #e50019;
  height: 54px !important;
  width: 80px !important;
  border-radius: 6px;
  display: flex;
  margin-bottom: 2em;
  animation: action 1s infinite alternate;
}
.tip .text {
  display: flex !important;
  color: #ffffff;
  text-align: center;
  width: 100%;
  top: 0px !important;
  margin-top: 10px;
  font-size: 1.5em;
  flex-direction: row !important;
}
.tip .text i {
  display: inline;
  padding-right: 10px;
}
.tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #e50019;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
span.facebook {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ffffff;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  text-align: center;
  position: relative;
}
span.facebook i {
  font-size: 1.5em;
  color: #0063e5 !important;
}
.slick-slide {
  padding: 2em;
}
.slick-slide img {
  max-height: 120px;
  width: auto;
  outline: none !important;
  border: none !important;
}
.slick-slide:focus {
  outline: none;
}
#navBarMobile {
  display: none;
  transition: all 0.2s;
  background: #ffffff;
  overflow-y: scroll;
}
#navBarMobile .menus-mobile {
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;
}
#navBarMobile .menus-mobile:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 49;
  background: linear-gradient(#ffffff 0%, rgba(0, 0, 0, 0) 70%);
}
#navBarMobile.show {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  font-size: 6.6vmin;
  align-items: center;
  justify-content: center;
}
#navBarMobile h4 {
  margin-top: 2em;
  color: #e50019;
}
#navBarMobile ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
#navBarMobile ul li {
  width: 100%;
}
#navBarMobile ul li a {
  font-size: 6vmin;
  padding: 3vw 5vw;
}
#navbar-toggler:not(.collapsed) {
  position: fixed;
  top: 10px;
  z-index: 51;
  margin-top: 0px;
}
#navbar-toggler:not(.collapsed) + .navbar-brand {
  top: 10px;
  z-index: 52;
  position: fixed;
  width: 60%;
}
#search-mobile {
  display: none;
}
h2 {
  --minFontSize: 28px;
  --maxFontSize: 35px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
h3 {
  --minFontSize: 22px;
  --maxFontSize: 35px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
#statistics .statistic {
  --minFontSize: 16px;
  --maxFontSize: 35px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
#statistics .explanation {
  --minFontSize: 14px;
  --maxFontSize: 18px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
.spacer {
  width: auto;
  max-width: 200px;
  align-self: center;
  position: relative;
  margin: auto;
}
.footer-info .col:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
#sidebar {
  width: 23.3%;
  flex: 0 0 23.3%;
  border: solid 1px #cabfd8;
}
#sidebar h4 {
  padding-top: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #e50019;
}
#sidebar .collapsible-body {
  display: none;
}
.head .imageholder {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 45vh;
}
.head .imageholder:after {
  content: "";
  background: linear-gradient(45deg, rgba(0, 99, 229, 0.05) 0%, rgba(50, 182, 183, 0.35) 65%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.head .imageholder img {
  object-fit: cover;
  object-position: center center;
}
.collapsible-header {
  position: relative;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  transition: all 0.3s;
}
.collapsible-header:after {
  content: "\f107";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  right: 0;
  top: 0;
  transform: rotate(270deg);
}
.collapsible-header.open:after {
  transform: rotate(3deg);
}
#side-menu > li {
  padding: 0.5em;
  border-bottom: solid 1px #cabfd8;
}
#side-menu > li ul.sub-menu li a:hover {
  color: #00377f !important;
}
#side-menu .collapsible-body {
  padding-top: 0.5em;
}
@media (max-width: 990px) {
  #sidebar {
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 7778;
    background: #ffffff;
    overflow-y: scroll;
  }
  #sidebar .navbar-toggler {
    position: absolute;
    left: 10px;
    width: 45px;
    height: 45px;
    color: #e50019;
  }
  #sidebar .navbar-toggler:focus {
    outline: none !important;
  }
  #sidebar .navbar-toggler #nav-icon {
    width: 30px;
    height: 40px;
    position: relative;
    margin: 10px auto;
    transform: rotate(0deg);
    cursor: pointer;
  }
  #sidebar .navbar-toggler #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    border-radius: 10%;
    background: #e50019;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  #sidebar .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1) {
    top: 0px;
  }
  #sidebar .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
    top: 9px;
  }
  #sidebar .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3) {
    top: 18px;
  }
  #sidebar .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }
  #sidebar .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #sidebar .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
    left: 0px;
    top: 6px;
  }
  #sidebar .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
    width: 0px;
    opacity: 0;
  }
  #languages {
    right: -165px;
  }
  #basicinfo ul {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #basicinfo ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #basicinfo ul li a {
    text-align: center;
  }
  #tour .column {
    padding: 0;
  }
  header .navbar-brand img {
    max-width: 300px;
  }
  #search-mobile {
    display: flex;
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 24px;
  }
  #homepage_carousel .carousel-indicators {
    top: 50%;
  }
  #homepage_carousel .carousel-item {
    flex-direction: column;
    justify-content: space-between;
  }
  form#howCanWeHelpYou {
    display: none !important;
  }
  .homepage_important {
    all: unset;
    position: relative;
    width: 100%;
    background: rgba(0, 99, 229, 0.8);
    color: #ffffff;
  }
  .homepage_important .text {
    color: #ffffff;
    padding: 2em;
  }
  .homepage_important .text h5 {
    color: #ffffff;
  }
  footer .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .row .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 100%;
    margin-top: 2vw;
  }
  footer .row .col img {
    max-height: 50px;
  }
  footer .row .col h4 {
    margin-top: 2vw;
    font-size: 3vmin;
  }
  #footer-menus {
    display: none !important;
  }
  #footer-menus .container {
    flex-direction: column;
  }
  #footer-menus .container .copyright {
    order: 2;
    text-align: center;
    margin-bottom: 15px;
  }
  #footer-menus .container .terms {
    order: 1;
    flex-direction: column;
    color: #120e26;
  }
  header {
    height: auto;
  }
  .text,
  p,
  div {
    font-size: calc(1.33125rem);
    text-align: center;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  section > h2 {
    text-align: center;
  }
  #navbar-toggler {
    padding: 0;
  }
  #navbar-toggler #nav-icon {
    width: 30px;
    height: 40px;
    position: relative;
    margin: 10px auto;
    transform: rotate(0deg);
    cursor: pointer;
  }
  #navbar-toggler #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    border-radius: 10%;
    background: #00357b;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  #navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1) {
    top: 0px;
  }
  #navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
    top: 9px;
  }
  #navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3) {
    top: 18px;
  }
  #navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }
  #navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
    left: 0px;
    top: 6px;
  }
  #navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
    width: 0px;
    opacity: 0;
  }
  .header.aos-animate .navbar-brand {
    position: absolute;
    left: 50%;
    margin-top: 20px !important;
    margin-left: -60px !important;
    width: 120px;
  }
  .header.aos-animate .navbar-brand img {
    width: 120px;
    max-width: 120px !important;
  }
  #navBar {
    display: none;
  }
  .navbar-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40%;
    display: block;
  }
  .container-fluid {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .container {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
  }
  form#howCanWeHelpYou {
    width: 80%;
  }
  form#howCanWeHelpYou .placeholder {
    text-indent: unset;
    font-size: 3.2vmin;
  }
  .infobar .row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .infobar .row ul {
    padding: 2vmin;
    flex-wrap: wrap;
  }
  .infobar .row nav {
    display: none;
  }
  .infobar .row nav ul {
    margin-right: auto;
  }
  .infobar .col:nth-child(3) {
    padding-right: 0;
    padding-left: 0;
    align-self: stretch;
  }
  #online-payment {
    clip-path: none;
    box-shadow: none;
  }
  #first {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .tip {
    height: 94px !important;
    width: 150px !important;
  }
  .tip .text {
    display: flex !important;
    color: #ffffff;
    text-align: center;
    width: 100%;
    top: 0px !important;
    margin-top: 10px;
    font-size: 2.5em;
    flex-direction: row !important;
  }
  .tip .text i {
    display: inline;
    padding-right: 10px;
  }
  .tip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 10px #e50019;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
  span.facebook {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #ffffff;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    position: relative;
  }
  span.facebook i {
    font-size: 1.5em;
    color: #0063e5 !important;
  }
  #tour .column .box .text h5 a {
    font-size: 2em;
    word-break: brak-all;
  }
}
@media (max-width: 660px) {
  #statistics .imageholder {
    width: 180px;
    height: 180px;
  }
  form#howCanWeHelpYou.sticky {
    top: 100px;
  }
  div.scrolling {
    position: relative;
    -webkit-animation: scroll 20s infinite linear;
    -moz-animation: scroll 20s infinite linear;
    -o-animation: scroll 20s infinite linear;
    animation: scroll 20s infinite linear;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .header-slider .imageholder {
    max-height: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  .header-slider .imageholder img {
    width: auto;
    height: 600px;
  }
  .navbar-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70%;
    display: block;
  }
  form#howCanWeHelpYou input[type=text] {
    font-size: 3vmin;
  }
  form#howCanWeHelpYou.sticky {
    width: 90%;
  }
  #languages {
    right: -40%;
  }
}
